main {
   display: block;
   font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
   border-radius: 5px;
   text-align: center;
   padding-bottom: 30px;
   padding-top: 30px;
}
#main {
   background-color: rgba(219, 219, 219, 0.897);
}
#title {
   text-align: center;
}
section {
   text-align: center;
}
/**ЗАДАТЬ МАКСИМАЛЬНУЮ ШИРИНУ ЭЛЕМЕНТА*/
#image {
   display: block;
   position: relative;
   max-width: 100%;
   margin: auto;
   height: auto;
   

}
#img-caption {
   text-align: center;
   background-color: white;
   line-height: 1;
}
#img-div {
   display: block;
   margin-left: 10px;
   margin-right: 10px;
}
#tribute-info {
   text-align: center;
   letter-spacing: 0px;
}
ul {
   line-height: 1.6;
   max-width: 550px;
   margin: 0px auto 50px auto;
   text-align: left;
}
article {
   text-align: left;
   max-width: 550px;
   margin: 0px auto 50px auto;
}
footer {
   text-align: center;

}