main {
   display: block;
   background-color: #eee;
   font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
   border-radius: 5px;
   padding: 30px 15px;
}
/**Параметр max-widthof 100%гарантирует, что изображение никогда не будет шире контейнера, в котором оно находится, а параметр heightof autoсохранит исходное соотношение сторон изображения.*/
.centered {
   max-width: 550px;
   margin: 0px auto;
}

.title,
.title-description {
   text-align: center;
}

.img-main {
   margin: 0;
   padding: 0 10px;
   background-color: white;
}

.img {
   display: block;
   max-width: 100%;
   margin: 0 auto;
}

.img-caption {
   text-align: center;
   padding: 15px 0;
}

.tribute-info {
   text-align: center;
}

ul {
   padding-bottom: 34px;
}

li {
   margin: 16px 0;
   line-height: 1.6;
}

.date {
   font-weight: bold;
}

blockquote {
   margin: 0 0 16px;
}

.quote {
   margin-bottom: 50px;
}

footer {
   text-align: center;
   font-size: 19px;
   font-weight: bold;
}
